#root {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  /* background: linear-gradient(#fff, #999); */
  background: linear-gradient(#e66465, #9198e5);
}

#root>div {
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  color: #fff;
}

h1 {
  /* font-family: 'Alatsi', sans-serif; */
  font-family: 'Damion', cursive;
  /* color: #F38D68; */
  font-size: 50px;
  color: rgb(250, 109, 109);
  text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
}

.swipe {
  position: absolute;
}

.cardContainer {
  width: 90vw;
  max-width: 260px;
  height: 300px;
}

.card {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 260px;
  height: 300px;
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
}

.infoText {
  width: 100%;
  height: 28px;
  justify-content: center;
  display: flex;
  /* color: #F38D68; */
  color: #fff;
  animation: popup 200ms;
}

.main-button {
  animation: popup 200ms;
  padding-top: 5px;
  padding-bottom: 5px;
}

.main-page {
  animation: popup 400ms;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
}

@keyframes popup {
  0% {
    transform: scale(0);
  } 70% {
    transform: scale(1.1);
  } 85% {
    transform: scale(0.94);
  } 100% {
    transform: scale(1);
  }
}

input[type=text]{
    width:100%;
    border:2px solid #fff;
    border-radius:8px;
    margin: 0px;
    outline:none;
    padding:15px;
    box-sizing:border-box;
    transition:.3s;
    background-color: rgba(0, 0, 0, 0.13);
    text-align: center;
    font-size: medium;
    width: 95%;
  }
  
input[type=text]:focus{
  border-color:dodgerBlue;
  box-shadow:0 0 8px 0 dodgerBlue;
}

.button {
  margin-left: auto;
  margin-right: auto;
  /* position: relative; */
  /* background: linear-gradient(to left, #64e664, #e5b991); */
  background-color: #9198e5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: white;
  padding: 15px;
  width:80%;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  border-radius: 8px;
  margin:10px;
  box-shadow: 0 3.5px rgba(153, 153, 153, 0.24);
}

/* .button:after {
  content: "";
  background: white;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 300%;
  margin-left: -300px;
  margin-top: -200%;
  opacity: 0;
  transition: all 0.5s
}

.button:active:after {
  opacity: 0.5;
  transition: 0.2s;
  border-radius: 25px;
} */

.button:active {
  background-color: rgba(128, 138, 245, 0.555);
  box-shadow: 0 0px rgba(153, 153, 153, 0.24);
  transform: translateY(2.5px);
  transition: all 0.2s;
}

.logo {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 60px;
  width: 200px;
}