#root {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 85vh;
  overflow: hidden;
  background: linear-gradient(#e66465, #9198e5);
}

#root>div {
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

html, body {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  touch-action: manipulation;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h3 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

h5 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.swipe {
  position: absolute;
}

.cardContainer {
  width: 90vw;
  max-width: 260px;
  height: 300px;
}

.card {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 260px;
  height: 300px;
  /* box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30); */
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
}

.infoText {
  width: 100%;
  height: 28px;
  justify-content: center;
  display: flex;
  /* color: #F38D68; */
  color: #fff;
  animation: popup 200ms;
}

.main-page {
  animation: popup 400ms;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 14px 0 #797986;
}

.pop-up {
  /* animation: popup 400ms; */
  animation: pop-up2 200ms;
}

@keyframes pop-up2 {
  0% {
    transform: scale(0.5);
  } 100% {
    transform: scale(1);
  }
}


@keyframes popup {
  0% {
    transform: scale(0);
  } 70% {
    transform: scale(1.1);
  } 85% {
    transform: scale(0.94);
  } 100% {
    transform: scale(1);
  }
}

input[type=text]{
    width: 95%;
    border:2px solid #fff;
    border-radius:8px;
    margin: 2px;
    outline:none;
    padding:17px;
    box-sizing:border-box;
    transition:.3s;
    background-color: rgba(0, 0, 0, 0.13);
    text-align: center;
    font-size: medium;
  }
  
input[type=text]:focus{
  border-color:#9198e5;
  box-shadow: 0 0 8px 0 #9198e5;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 0 8px 0 #9198e5;
}

button{
  /* position: relative; */
  /* background: linear-gradient(to left, #64e664, #e5b991); */
  background-color: #9198e5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: white;
  padding: 15px;
  width:92%;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  border-radius: 8px;
  margin:5px;
  box-shadow: 0 3px rgba(153, 153, 153, 0.24);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 0;
}

button:active {
  background-color: rgba(128, 138, 245, 0.555);
  box-shadow: 0 0px rgba(153, 153, 153, 0.24);
  transform: translateY(2.5px);
  transition: all 0.2s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 0;
}

button:disabled{
  background-color: rgba(196, 196, 196, 0.514);
  transform: translateY(2px);
  box-shadow: none;
}

.logo {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 47px;
  width: 200px;
}

.logo2 {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 60px;
  width: 200px;
  background-color: #858585;
}

._loading_overlay_overlay {
  border-radius: 15px;
}

.restaurantName {
  padding: 5px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.356);
  border-radius: 10px;
  color: white;
  display: inline-block;
  /* position: absolute; */
  left: 0px;
}

.restaurantRatingPrice {
  padding: 5px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.356);
  border-radius: 10px;
  color: white;
  display: inline-block;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.restaurantDistance {
padding: 5px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.356);
  border-radius: 10px;
  color: white;
  display: inline-block;
  position: absolute;
  right: 0px;
  bottom: 0px;
}